@using Microsoft.AspNetCore.Identity
@model UsersShowUserViewModel
@inject UserManager<ApplicationUser> UserManager

@* Här mellan kan vi nu skriva vanlig c#-kod *@
@{
    var user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = Model.User.Name;
}


<div>
    <h1>Broadcasts from @Model.User.Name</h1>

    @if (user.Id != Model.User.Id)
    {
        <form action="/Users/Listen" method="post">
            <input type="hidden" name="UserId" value="@Model.User.Id" />
            <input type="submit" value="Listen to"/>
        </form>

        <form action="/Users/StopListen" method="post">
            <input type="hidden" name="UserId" value="@Model.User.Id" />
            <input type="submit" value="Stop listening to" />
        </form>
    }

    @foreach (var broadcast in @Model.Broadcasts)
    {
        <p>
            <b>@broadcast.Published.ToShortDateString() @broadcast.Published.ToShortTimeString()</b>:
            @broadcast.Message
        </p>
        <div style="height:100px">
            @if (@broadcast.ImageFilenameGUID != "")
            {
                <img style="height:100px" src="~/images/broadcastImages/@broadcast.ImageFilenameGUID" alt="Your Image">
            }
        </div>
    }
</div>