@model FeaturedIndexViewModel

@{
    ViewData["Title"] = "Featured Broadcasts";
}

@if (Model != null)
{

    <h2>Featured broadcasts</h2>
    @for (int i = 0; i < 5 && i < Model.SortedBroadcasts.Count; i++)
    {

        <p>
            <b>
                <img style="height:30px" src="~/images/profilePictures/@Model.SortedBroadcasts[i].User.ProfileImageFilenameGUID" alt="Your Profile Image">
                @Model.SortedBroadcasts[i].User.Name
                (@Model.SortedBroadcasts[i].Published.ToShortDateString() @Model.SortedBroadcasts[i].Published.ToShortTimeString())
            </b>:
            @Model.SortedBroadcasts[i].Message
        </p>


        @if (@Model.SortedBroadcasts[i].ImageFilenameGUID != "")
        {
            <img style="height:100px" src="~/images/broadcastImages/@Model.SortedBroadcasts[i].ImageFilenameGUID
            " alt="Your Image">
        }


        @if (@Model.SortedBroadcasts[i].UserThatLike.Count != 0)
        {
            <p>
                @Model.SortedBroadcasts[i].UserThatLike.Count
                gillar detta</p>
        }

        @*     <form method="post" action="/Home/LikeBroadcast">
        <input type="hidden" name="BroadcastId" value=@broadcast.Id>
        <input type="submit" value="Like" />
    </form> *@
    }
}