@model ProfileIndexViewModel


<div>
    <h1>Update profile</h1>

    <form method="post" action="/Profile/Index" enctype="multipart/form-data">
        <input value="@Model.Name" name="Name" placholder="Name" />
        @* @Html.ValidationMessage("Name", new { @style = "color: red;" }) *@
        <input type="file" name="ImageFile">
        <input type="submit" value="Save">
    </form>
    @if (Model.ErrorMessage != null)
    {
        <p style="color: red">@Model.ErrorMessage</p>
    }

    @if (@Model.ImageFilenameGUID != "" || @Model.ImageFilenameGUID == null)
    {
        <img style="height:100px" src="~/images/profilePictures/@Model.ImageFilenameGUID" alt="Your Image">
    }

</div>
