@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <h2>New Broadcast</h2>

        <form method="post" action="/Home/Broadcast">
            <textarea name="Message"></textarea> <br />
            <input type="submit" value="post" />
        </form>

        <hr />

        <h2>Broadcasts</h2>

        @foreach (var broadcast in @Model.Broadcasts)
        {
            <p>
                <b>
                    @broadcast.User.Name
                    (@broadcast.Published.ToShortDateString() @broadcast.Published.ToShortTimeString())
                </b>:
                @broadcast.Message
            </p>
        }

    </div>
}
