@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">
                @Model.ErrorMessage
            </div>
        }
        <h2>New Broadcast</h2>
        <form method="post" action="/Home/Broadcast" enctype="multipart/form-data">
            <textarea name="Message"></textarea> <br />
            <input type="file" name="ImageFile">
            <input type="submit" value="post" />
        </form>

        <hr />

        <h2>Broadcasts</h2>
        @foreach (var broadcast in @Model.Broadcasts)
        {

            <p>
                <b>
                    <img style="height:30px" src="~/images/profilePictures/@broadcast.User.ProfileImageFilenameGUID" alt="Your Profile Image">
                    @broadcast.User.Name
                    (@broadcast.Published.ToShortDateString() @broadcast.Published.ToShortTimeString())
                </b>:
                @broadcast.Message
            </p>

            
                @if (@broadcast.ImageFilenameGUID != "")
                {
                    <img style="height:100px" src="~/images/broadcastImages/@broadcast.ImageFilenameGUID" alt="Your Image">
                }


            @if (broadcast.UserThatLike.Count != 0)
            {
                <p>@broadcast.UserThatLike.Count gillar detta</p>
            }

            <form method="post" action="/Home/LikeBroadcast">
                <input type="hidden" name="BroadcastId" value=@broadcast.Id>
                <input type="submit" value="Like" />
            </form>


        }

    </div>
}
